/*------------
    RESET
--------------*/

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

/*------------
    GENERAL
--------------*/

body {
    font-family: "Cabin Condensed", sans-serif;
}

li {
    list-style-type: none;
}

/*------------
    LAYOUT
--------------*/

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
    .row {
        display: flex;
        justify-content: space-between;
    }
}